<div class='content'>
	<center>


<pre><p style="font-family: 'Germania One', cursive;font-size: 30px;">
Welcome!</p><p>	DS!Zone is all about "DungeonSquad!", an awesome and fun
table-top rpg created by Jason Morningstar. Here you can find
links to information about the game as well as some adventures
created by yours truly. There is even a Hero generator to get
you inspired. Have fun and loot on!!!
                                    ~ Humble Fan
</p>
</pre>
</center>

<center>
	<br />
	<br />
	<br />
	<br />
	<br />


<p style="font-family: 'Germania One', cursive;font-size: 30px;">
<a class='nav' href ="http://www.1km1kt.net/rpg/dungeon_squad.pdf">Rules</a>
<a class='nav' href='/hero_generator'>Heroes</a><br />
<a class='nav' href='/quests'>Quests</a>
<a class='nav' href='/links'>Links</a>
</p>
</center>
</div>
