<!DOCTYPE html>
<html>
<head>
<title>DS!Zone</title>
<meta charset="UTF-8" />
<meta name="DS!Zone" content="Resources for the table top rpg Dungeon Squad! by Jason Morningstar." />
<meta name="Keywords" content="Dungeon Squad!, easy rpg, simple rpg, cool rpg"
<meta name="author" content="Site by:Earl Goodfellow" />
<link rel="stylesheet" type='text/css' href='style.css' />
<link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	</head>
	<body>

				<%= yield %>


			<footer>
			<p>	<a class='title' href='/'> DS!Zone</a></p>
				<img class='logo' src='/characters.png' />
			</footer>

		</body>
</html>
